/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#tree-buttons div {
    z-index: 1;
}

#tree-container {
    padding-top: 40px;
}

.pos-fixed {
    position: fixed;
}

.pos-fixed .flex *:not(:first-child ) {
    margin-left: 5px;
    width: initial;
}

[id^='section'] {
    height: 800px;
    overflow-y: auto;
}

.change-diff-btn {
    background-color: orange;
}

.addition-diff-btn {
    background-color: green;
}

.deletion-diff-btn {
    background-color: red;
}

.change-diff {
    background-color: orange;
}

.deletion-diff {
    background-color: red;
}

.addition-diff {
    background-color: green;
}
