<!DOCTYPE html>
<html>
<head>
  <title>Flexite</title>
  <%= stylesheet_link_tag    "flexite/application", :media => "all" %>
  <%= javascript_include_tag "flexite/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
