#tree-buttons.row
  .col-md-4.pos-fixed
    = link_to 'New node', new_config_path, remote: true, class: 'btn btn-success'
    = link_to 'Reload cache', reload_configs_path, remote: true, class: 'btn btn-success'
    %button#delete-node-btn.btn.btn-danger Delete
.row#tree-container
  .col-md-4
    #tree
  .col-md-4
    #section-2.pos-fixed
  .col-md-4
    #section-3.pos-fixed
