.modal.fade#edit-entry{ role: :dialog, aria: { hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#edit-entry-title
        %button.close{ data: { dismiss: :modal }, aria: { label: 'Close' }, style: 'outline: none;' }
          %span{ aria: { hidden: 'true' } }
            &times;
      .modal-body#edit-entry-body
      .modal-footer
        %button.btn.btn-primary Save
        %button.btn.btn-secondary{ data: { dismiss: :modal } } Close
