.modal.fade#edit-entry{ role: :dialog, aria: { hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: :button, data: { dismiss: :modal }, aria: { label: 'Close' } }
          %span{ aria: { hidden: 'true' } }
            &times;
        %h4.modal-title#edit-entry-title
      .modal-body#edit-entry-body
      .modal-footer
        %button.btn.btn-primary Save
        %button.btn.btn-secondary{ data: { dismiss: :modal } } Close
