%h1 Listing configs

%table
  %tr
    %th
    %th
    %th

  - @configs.each do |config|
    %tr
      %td= link_to 'Show', config
      %td= link_to 'Edit', edit_config_path(config)
      %td= link_to 'Destroy', config, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Config', new_config_path
