%h1 Listing configs

.configs-tree
- Flexite::Config.walk_tree do |config, level|
  - present config do |presenter|
    .config-name
      = presenter.name('-'*level)

%br

= link_to 'New Config', new_config_path
