= f.input :value, label: false do
  = f.input :value, as: :integer, input_html: { class: 'form-control', placeholder: 'Number' }, label: false
  - if local_assigns[:delete_link].present?
    = delete_link
